* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x:hidden;
}
html,body {
  width:100%;
  height:100%;
  font-family: Acme, sans-serif;
  font-size: 1.8vw;
  text-align: center;
}
#background {
  width: 100%;
  height: auto;
  min-height: 768px;
  background: center fixed no-repeat url("https://i.postimg.cc/Gpchyf6B/background1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 1px solid;
}
#header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
}
#logo {
  padding: 0px 20px;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  color:white;
}
#header-img {
  width: 14%;
  padding-left: 2px;
  padding-bottom: 4px;
  height: auto;
}
.nav{
  padding: 0px 20px;
  float: left;
  list-style-type: none;
  height: 6vw;
  line-height: 6vw;
  color:white;
}
.nav-link{
  color:white;
}
a{
  color:inherit;
  text-decoration: none;
}
.nav:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
#intro {
  font-size: 90%;
  padding: 100px;
}
.whiteBG{
  text-align:center;
  background-color:white;
  box-shadow:-5px -5px 30px,
    5px 5px 30px;
  -moz- box-shadow:-5px -5px 30px,
    5px 5px 30px;
  -web- box-shadow:-5px -5px 30px,
    5px 5px 30px;
  -o- box-shadow:-5px -5px 30px,
    5px 5px 30px;
}
#about{
  border:1px solid;
  width:100%;
  padding-bottom:30px;
  display:grid;
  grid-template-rows:auto auto; 
  grid-template-columns:48% 48%;
  grid-column-gap:10px;
  justify-content:center;
}
h2{
  grid-row:1/2;
  grid-column:1/span 2;
  padding:15px; 
}
.col1,.col2{
  width:100%;
  height:100%;
  padding:40px 40px;
  grid-row: 2/2;
  font-size:85%;
  text-align:justify;
}
#destinations{
  /*background */
  max-width: 100%;
  height: auto;
  min-height: 768px;
  background: center fixed no-repeat url("https://i.postimg.cc/Gpchyf6B/background1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  /**************************/
  display: grid;
  grid-template-rows: 5% 40% 40%;
  grid-template-columns: 30% 30% 30%;
  grid-row-gap:40px;
  justify-content:space-evenly;
  padding:50px 0px;
}

#contacts{
  background-color:white;
  display:grid;
  grid-template-rows:100px 200px;
  grid-template-columns:20% 20% 50%;
  grid-column-gap:20px;
  justify-content:center;
}
.left-align{
  text-align:left;
  text-decoration:none;
}
#form{
  height:100%;
  display:grid;
  grid-template-rows:30% 30% 30%;
  grid-template-columns:50% 50%;
  grid-column-gap:20px;
 
}
.contactRestyle,li{
  padding:4px;
  font-weight:normal;
  font-size:20px;
  list-style-type:none;
}
#submit{
  height:30px;
  width:70px;
  border-radius:10px;
  background-color:black;
  color:white;
}
.dRestyle{
  font-size:15px;
}
.buttonRestyle{
  margin-top:20px;
  width:100px;
  height:40px;
  border-radius:10px;
  background-color:rgba(0,0,0,0.8);
  color:white;
  font-family:Acme;
  font-size:18px;
}

@media screen and (max-width:1000px){

  #logo{
    width:40%;
    font-size:170%;
  }
  #header-img{
    width:20%;
  }
  .nav{
    padding:0px 10px; 
  }
  #intro{
    padding:70px;
    font-size:132%;
  }
  .col1,.col2{
    float:left;
    padding:10px;

  }
}
